@charset "UTF-8";

header{
    background-color: rgb(1, 92, 1);
    color: white;
    text-align: justify;
    text-align: center;
    height: 150px;
    width: 100%;
    padding-top: 50px;
    margin: auto;

}
body{
    background-color: beige;
}
main{
    background-color: white;
    width: 1450px;
    padding: 0% 2px 2px 2px;
    box-align: center;
    margin: auto;

}
.links{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
    
}
.links:hover{
    text-decoration: underline;
    color: black;
    text-align: start;
    background-color: rgba(4, 185, 4, 0.747);
}
